<div class="card w-96 bg-base-100 shadow-xl relative">
    <div class="absolute top-0 right-0">
        <div class="badge badge-outline">default</div>
        <div class="badge badge-primary badge-outline">primary</div>
        <div class="badge badge-secondary badge-outline">secondary</div>
        <div class="badge badge-accent badge-outline">accent</div>
    </div>

    <div class="card-body">
        <div class="flex gap-8">
            <div class="avatar">
                <div class="w-16 rounded-full">
                    <img src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg"/>
                </div>
            </div>
            <h2 class="card-title">Card title!</h2>
        </div>

        <p>If a dog chews shoes whose shoes does he choose?</p>

        <div>
            <div class="text-2xl">300 000 Kč</div>
            <progress class="progress progress-success w-56" value="70" max="100"></progress>
        </div>

        <div class="text-sm">
            <div><span>Start of month:</span> 30 000 Kč</div>
            <div><span>End of month:</span> 30 000 Kč</div>
            <div><span>End of year:</span> 30 000 Kč</div>
        </div>
    </div>
</div>
