<table class="table">
    <thead>
    <tr>
        <th>Account</th>
        <th>Name</th>
        <th>Next date</th>
        <th>Category</th>
        <th>Amount</th>
    </tr>
    </thead>
    <tbody>
    <tr class="hover:bg-primary-content">
        <td>Main</td>
        <td>Test</td>
        <td>22.3.2024 (in 3 days)</td>
        <td>Home</td>
        <td>-10 000Kč</td>
    </tr>
    <tr class="hover:bg-primary-content">
        <td>Main</td>
        <td>Test</td>
        <td>22.3.2024 (in 4 days)</td>
        <td>Home</td>
        <td>-10 000Kč</td>
    </tr>
    </tbody>
</table>
