<table class="table">
    <thead>
    <tr>
        <th>Account</th>
        <th>Name</th>
        <th>Next date</th>
        <th>Category</th>
        <th>Amount</th>
    </tr>
    </thead>
    <tbody>
    {% for event in events %}
        <tr class="hover:bg-primary-content">
            <td>{{ event.account }}</td>
            <td>{{ event.name }}</td>
            <td>{{ event.date|date:"SHORT_DATE_FORMAT" }} (in {{ event.days }} days)</td>
            <td>{{ event.category }}</td>
            <td>{{ event.formatted_amount }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
